<div class="sample-container">
  <po-loading-overlay *ngIf="loadTela===true" [p-text]="labelLoadTela" [p-screen-lock]="true"></po-loading-overlay>
  
</div>

<div class="cabec">
  <div class="campofiltros">

    <po-combo class="combo-estab" [ngModel]="codEstabelecimento" (ngModelChange)="codEstabelecimento = $event"
       p-clean="true" [p-options]="listaEstabelecimentos" p-label="Estabelecimento" [p-disabled]="!filtroPronto"
      p-icon="bi bi-pin-map" [p-placeholder]="placeHolderEstabelecimento">
      <ng-template p-combo-option-template let-option>
        <div class="po-row">
          <po-icon class="po-sm-2 po-md-3 po-lg-1" p-size="sm" p-icon="bi bi-pin-map"></po-icon>
          <div class="po-sm-10 po-md-9 po-lg-11">
            <div class="po-font-text-large-bold">{{ option.label }}</div>
            <div class="po-font-text-smaller">Filial: {{ option.codFilial }}</div>
          </div>
        </div>
      </ng-template>
    </po-combo>
    <po-lookup class="po-md-12" name="codEmitente" [(ngModel)]="codEmitente"
      [p-filter-params]="codigoEmitente ? { codigoEmit: codigoEmitente } : {}" p-label="Emitente"
      [p-virtual-scroll]="true" p-placeholder="Selecione um Emitente" [p-disabled]="!filtroPronto"
      changeVisibleColumns="['codEmitente', 'nomeAbrev']" [p-field-format]="['codEmitente', 'nomeAbrev']"
      [p-columns]="columns" [p-filter-service]="EmitenteService" [p-literals]="{ 'modalTitle': 'Zoom de Emitente' }"
      p-field-value="codEmitente" p-clean="true" >
    </po-lookup>
    <po-input class="po-md-6" name="nrNotaFis" [(ngModel)]="nrNotaFis" p-placeholder="NF" p-label="NF" p-required
      [p-maxlength]="7" [disabled]="!filtroPronto"></po-input>
    <po-input class="po-md-6" name="serie" [(ngModel)]="serie" p-placeholder="Serie" p-label="Serie" p-required
      [p-maxlength]="3" [disabled]="!filtroPronto"></po-input>
    
    <po-button p-tooltip="Buscar Dados"   p-icon="bi bi-check2-circle" p-label="Buscar Dados"   p-kind="primary" (p-click)="Selecionar()"></po-button>
    <po-button p-tooltip="Limpar Filtros" p-icon="bi bi-eraser-fill"   p-label="Limpar filtros" p-kind="primary" (p-click)="limparFiltros()">
    </po-button>
  </div>

</div>

<div class="cabec">
  <div class="campofiltrosc">

    <!-- TÍTULO -->
    <div class="titulo-box">
      Geração dos Arquivos de Conferência de Retorno e Conclusão de Reparos<span></span>
    </div>

    <!-- BOTÕES 
    <div class="botoes-acoes">
      <po-button p-label="Finalizar Processo" p-icon="bi bi-check2-all" (p-click)="onFinalizar()"></po-button>
    </div>-->

    <div style="border: 1px solid #ccc; padding: 10px;">
      <div style="font-weight: bold; margin-bottom: 5px;">
        Mensagem RPW
      </div>
      <div>
        {{ cMensagemErroRPW }}
      </div>
    </div>

    <!-- Arquivo de Conferencia -->
    <po-table [p-items]="listaArquivosConf" 
              [p-columns]="colunasArquivos" 
              [p-hide-table-search]="true" 
              [p-hide-columns-manager]="true"
              [p-loading]="loadTelaConf"
              [p-literals]="customLiteralsArq"
              p-container="true">

      <ng-template p-table-column-template p-property="nomeArquivo" let-value>
        <btnDownload [nomeArquivo]="value"></btnDownload>
      </ng-template>

    </po-table>

  </div>

</div>

<div class="cabec">

  <div class="campofiltrosc">

    <!-- TÍTULO -->
    <div class="titulo-box">
      Etiqueta Impressas de Reparos Trocados<span></span>
      <div class="po-row">
        <div class="po-md-12 po-text-right">

          <po-button
            p-icon="bi bi-arrow-repeat"
            p-label="Reimprimir Reparos"
            p-kind="secondary"
            (p-click)="openReprintModal()">
          </po-button>

        </div>
      </div>
    </div>

    <!-- BOTÕES 
    <div class="botoes-acoes">
      <po-button p-label="Finalizar Processo" p-icon="bi bi-check2-all" (p-click)="onFinalizar()"></po-button>
    </div>
    -->

    <div style="border: 1px solid #ccc; padding: 10px;">
      <div style="font-weight: bold; margin-bottom: 5px;">
        Mensagem RPW
      </div>
      <div>
        {{ cMensagemErroRPWReparo }}
      </div>
    </div>

    <!-- Reparos -->
    <po-table [p-items]="listaRepBRR" 
              [p-columns]="colunasBRR" 
              [p-hide-table-search]="true"
              [p-hide-columns-manager]="true"
              [p-loading]="loadTelaRep"
              [p-literals]="customLiteralsArq"
               p-container="true">

      <ng-template p-table-column-template p-property="nomeArquivo" let-value>
        <btnDownload [nomeArquivo]="value"></btnDownload>
      </ng-template>

    </po-table>

  </div>

</div>

<po-modal #timer [p-title]=labelPedExec p-size="sm" p-click-out="false" [p-hide-close]="true" [p-hide-close]="true"
  [p-primary-action]="acaoCancelarTimer">
  <p class="po-font-title"><i [ngClass]="labelTimer === 'Arquivo liberado !' ? 'bi bi-alarm-fill' : 'bi bi-alarm'"></i>
    {{labelTimer}}</p>
  <p class="po-font-text-large">{{labelTimerDetail}}</p>
</po-modal>

<po-modal
  #reprintModal
  p-title="Reimpressão de Reparos"
  [p-secondary-action]="cancelAction"
  p-size="lg">

  <!-- ALERTA -->
  <po-info>
    Selecione os reparos que deseja reimprimir.
  </po-info>

  <!-- FILTROS -->
  <div class="po-row po-mt-2">

    <po-input name="filial"    p-label="Filial"    [(ngModel)]="filters.filial"    class="po-md-3"></po-input>
    <po-input name="reparo"    p-label="Reparo"    [(ngModel)]="filters.reparo"    class="po-md-3"></po-input>
    <po-input name="item"      p-label="Item"      [(ngModel)]="filters.item"      class="po-md-2"></po-input>
    <po-input name="descricao" p-label="Descrição" [(ngModel)]="filters.descricao" class="po-md-3"></po-input>

    <div class="po-md-1 po-text-right po-mt-4">
      <po-button p-icon="po-icon-delete" p-label="" p-tooltip="Limpar filtros"  p-kind="secondary" (p-click)="clearFilters()"></po-button>
    </div>

  </div>

  <!-- TABELA -->
  <po-table
            [p-columns]="colunasRep"
            [p-items]="itemsRep"
            [p-selectable]="true"
            
            class="po-mt-3"></po-table>

  <!-- RODAPÉ CUSTOM -->
  <div class="po-row po-mt-2">
    <div class="po-md-12">
      <strong>Selecionados:</strong> {{ selectedItems.length }} reparo(s)
    </div>
  </div>

</po-modal>


<rpw-acomp [numPedExec]="numPedExec()" [intervalo]="5000" [tentativas]="50"></rpw-acomp>