

<div class="sample-container" >
  <po-loading-overlay *ngIf="loadTela===true" [p-text]="labelLoadTela" [p-screen-lock]="true"></po-loading-overlay>
</div>

<app-dn-modal
                [visible]="mostrarModal"
                title="Confirma Conclusão dos Reparos ?"
                [message]="mensagemModal"
                (confirm)="onConfirmarModal($event)">
  </app-dn-modal>
<po-toolbar id="sample-po-user-guide-basic-title"
            p-title="1.00.000 - HTMLESRR047 - RETORNO E CONCLUSÃO DE REPAROS EXTERNOS "
            p-actions-icon="bi bi-question-circle"
            [p-actions]="toolbarActions">
        </po-toolbar>
<div class="cabec" >
  
    <div class="campofiltrosc">
        
        <po-combo id='#header' class="combo-estab" [ngModel]="codEstabelecimento" 
                    (ngModelChange)="codEstabelecimento = $event"
            
                    (p-change)="onEstabChange($event)" 
                    p-clean="true" 
                    [p-options]="listaEstabelecimentos"
                    [p-disabled]="!filtroPronto"

                    p-label="Estabelecimento" 
                    p-icon="bi bi-pin-map" 
                    [p-placeholder]="placeHolderEstabelecimento">
            <ng-template p-combo-option-template let-option>
            <div class="po-row">
                <po-icon class="po-sm-2 po-md-3 po-lg-1" p-size="sm" p-icon="bi bi-pin-map"></po-icon>
                <div class="po-sm-10 po-md-9 po-lg-11">
                <div class="po-font-text-large-bold">{{ option.label }}</div>
                <div class="po-font-text-smaller">Filial: {{ option.codFilial }}</div>
                </div>
            </div>
            </ng-template>
        </po-combo>
        <po-lookup 
                          class="combo-emitente"
                          name="codEmitente"
                          [(ngModel)]="codEmitente"
                          [p-filter-params]="codigoEmitente ? { codigoEmit: codigoEmitente } : {}"
                          p-label="Emitente"
                          [p-virtual-scroll]="true"
                          p-placeholder="Selecione um Emitente"
                          changeVisibleColumns="['codEmitente', 'nomeAbrev']"
                          [p-field-format]="['codEmitente', 'nomeAbrev']"
                          [p-disabled]="!filtroPronto"
                          [p-columns]="columns"
                          [p-filter-service]="EmitenteService"                    
                          [p-literals]="{ 'modalTitle': 'Zoom de Emitente' }"
                          p-field-value="codEmitente"
                          p-clean="true"
                          (p-change)="onEmitenteChange($event)"                
                        >
                </po-lookup>

      <div class="campos-busca">
        <po-input class="nf"     name="nrNotaFis" [(ngModel)]="nrNotaFis" p-placeholder="NF"              p-label="NF"              p-required [p-maxlength]="7" [disabled]="!filtroPronto"></po-input>
        <po-input class="serie"  name="serie"     [(ngModel)]="serie"     p-placeholder="Serie"           p-label="Serie"           p-required [p-maxlength]="3" [disabled]="!filtroPronto"></po-input>
        <po-input class="qtd"    name="qtd"       [(ngModel)]="qtd"       p-placeholder="Qtd"             p-label="Qtd"             p-required [p-maxlength]="7" p-disabled="true"></po-input>
      </div>
      <div class="botoes-busca">
        <po-button p-tooltip="Buscar Dados"    p-icon="bi bi-check2-circle"  p-label="Buscar"    p-kind="primary"   (p-click)="Selecionar()" >   </po-button>
        <po-button p-tooltip="Limpar Filtros"  p-icon="bi bi-eraser-fill"    p-label="Limpar"    p-kind="secondary" (p-click)="limparFiltros()"> </po-button>
      </div>  
    </div>
    

  <div class="selecao">

      <po-button p-tooltip="Confirmar Documento" p-icon="bi bi-clipboard-check" p-label="Confirmar Documento" p-kind="success" p-danger="true" (p-click)="onConfirmar()"></po-button>
      <!--
      <po-button p-tooltip="Relatório"           p-icon="bi bi-printer"         p-label="Relatório"           p-kind="primary" (p-click)="onRelatorio()"></po-button>
      -->
  </div>

</div>
<div class="grid">
  
  <p style="font-size: 15px; font-weight: bold; margin-bottom: -20px;">Reparos Selecionados: {{this.total}}</p>

  <p style="font-size: 15px; display: flex; justify-content: flex-end; margin-right: 325px; margin-bottom: -52px;">        
    <po-button  p-tooltip="Listagem em Excel"  p-icon="an an-microsoft-excel-logo"  p-label=""  (p-click)="onExcel()"          p-kind="tertiary"> </po-button>
    <po-button  p-tooltip="Pesquisa Avançada"  p-icon="bi bi-funnel"                p-label=""  (p-click)="onFiltroAvancado()" p-kind="tertiary"> </po-button>
  </p>
 
  <po-table #grid2  [p-items]="listaReparos"
                    [p-columns]="colunasReparos" 
                    [p-selectable]="true"
                    [p-single-select]="false"
                    (p-selected)="changeOptions($event)"
                    (p-unselected)="changeOptions($event)"
                    (p-all-selected)="changeOptions($event)"
                    (p-all-unselected)="changeOptions($event)"
                    [p-striped]="true" 
                    
                    p-container="true" 
                    [p-height]="alturaGrid"
                    [p-loading]="loadTela"
                    [p-sort]="true"
                    [p-hide-batch-actions]="true"
                    [p-hide-table-search]="false">
                   <ng-template p-table-column-template [p-property]="'rr-bloq'" let-value>  {{ value ? 'Sim' : 'Não' }}</ng-template>                  
          
  </po-table>
  
</div>

<po-modal #telaSelecao p-title="Parâmetros de Seleção"
                              p-size="auto" 
                              p-click-out="false" 
                              [p-hide-close]="true"
                              [p-primary-action]="acaoSelecionar" 
                              [p-secondary-action]="acaoCancelarSelecao">


      <form #formSelecao="ngForm">
        <div class="po-row">
            <po-datepicker
            class="po-md-6"
            name="dtIni"
            [(ngModel)]="dtIni"
            p-clean
            p-format="dd/mm/yyyy"
            p-label="Data Inicial"
            p-required
            [p-max-date]="dtIni"
            >
            </po-datepicker>

            <po-datepicker
            class="po-md-6"
            name="dtFim"
            [(ngModel)]="dtFim"
            p-clean
            p-format="dd/mm/yyyy"
            p-label="Data Final"
            p-required
            [p-min-date]="dtFim"
            >
            </po-datepicker>
        </div>
        <div class="po-row">
          <po-input
          class="po-md-6"
          name="estabIni"
          [(ngModel)]="estabIni"
          p-placeholder="Estab Inicial"
          p-label="Estab Inicial"
          p-required
          [p-maxlength]="3"
          >
          </po-input>

          <po-input
          class="po-md-6"
          name="estabFim"
          [(ngModel)]="estabFim"
          p-label="Estab Final"
          p-placeholder="Estab Final"
          p-required
          [p-maxlength]="3"
          >
          </po-input>
      </div>

        <div class="po-row">
            <po-input
            class="po-md-6"
            name="tecIni"
            [(ngModel)]="tecIni"
            p-placeholder="Técnico Inicial"
            p-label="Técnico Origem Inicial"
            p-required
            [p-maxlength]="6"
            >
            </po-input>

            <po-input
            class="po-md-6"
            name="tecFim"
            [(ngModel)]="tecFim"
            p-label="Técnico Origem Final"
            p-placeholder="Técnico Final"
            p-required
            [p-maxlength]="6"
            >
            </po-input>
        </div>

        <div class="po-row">
            <po-input
            class="po-md-6"
            name="tecDestIni"
            [(ngModel)]="tecDestIni"
            p-label="Técnico Destino Inicial"
            p-required
            [p-maxlength]="6"
            >
            </po-input>

            <po-input
            class="po-md-6"
            name="tecDestFim"
            [(ngModel)]="tecDestFim"
            p-placeholder="Técnico Final"
            p-label="Técnico Destino Final"
            p-required
            [p-maxlength]="6"
            >
            </po-input>
        </div>

        <div class="po-row">
          <po-input
          class="po-md-6"
          name="itCodigoIni"
          [(ngModel)]="itCodigoIni"
          p-label="Item Inicial"
          p-required
          [p-maxlength]="16"
          >
          </po-input>

          <po-input
          class="po-md-6"
          name="itCodigoFim"
          [(ngModel)]="itCodigoFim"
          p-label="Item Final"
          p-required
          [p-maxlength]="16"
          >
          </po-input>
      </div>
        </form>
  </po-modal>

  
<po-modal #telaFiltroAvancado
          p-title="Filtro Avançado"
          p-size="md"
          p-click-out="false"
          [p-hide-close]="true"
          [p-primary-action]="acaoConfirmarFiltro"
          [p-secondary-action]="acaoCancelarFiltro">

  <div class="filtro-container">
<div class="secao-titulo">Parâmetros</div>
    <!-- Grupo de filtros -->
    <div class="filtro-grupo">
      <po-checkbox name="lPrintEtiq"
                   [(ngModel)]="filtro.lPrintEtiq"
                   p-label="Imprimir Etiqueta de Identificação">
      </po-checkbox>
    </div>

     <div class="filtro-grupo">
      <po-checkbox name="lLog"
                   [(ngModel)]="filtro.lLog"
                   p-label="Ativar log">
      </po-checkbox>
    </div>

    <!-- Ações -->
    <div class="acoes">
      <po-button
        p-label="Limpar filtros"
        p-icon="bi bi-eraser"
       
        (p-click)="limparFiltros()"
        [p-disabled]="!filtrosAlterados">
      </po-button>
    </div>

  </div>

</po-modal>


  <rpw-acomp (finalizar)="onResumoFinal($event)" [numPedExec]="numPedExec()" 
             [intervalo]="5000" 
             [tentativas]="50">
  </rpw-acomp>